#canvas
{
    background-size: 100%;
    border: 2px solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#page
{
    margin: 20px auto 20px auto;
    width: 960px;
}
#controls
{

    padding-left: 0px;
    margin: 0;
    list-style-type: none;
    text-align: left;
    font-size: 24pt;
    line-height: 1.6em;
}
#clear
{
    width: 880px;
    background-color: #b3d4fc;
    text-decoration: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#clear:link
{
    color: #FF0000;
}
#clear:hover
{
    background-color: crimson;
}
#clear:active
{
    color: #0000FF;
}
